.gambar{    
    
    margin: 2em auto 1em auto;
}
.ivanjairus{
    font-family: Bebas Neue Cyrillic;
    font-size: 40px;
    margin: 20px;
    font-weight: 700;
}

.ivan{
    width: 150px;  
    padding:20px;
    margin-top: 99%;
    
}

.tanggal , .ig{
    font-family: Montserrat;
    font-size: 12px;
    min-height: 100px;
    padding:20px;
}

.ig{
    padding-left: 22%;

}

.wrapper{
    display: grid;
    grid-template-columns: 25% 85%;
    margin: 0;
    margin-right: 8.5em;
}

.aboutme , .contac , .education{
    font-family: Glacial Indifference;
    font-weight: 600;
    font-size: 16px;
    color: #707070;
    padding: 1em;
    line-height: 2em;
}

.isime, .isicontac, .isieducation{
    font-family: amiko;
    font-size: 13px;
    color: #707070;
    text-align: justify;
    padding-left: 2.4em;
    line-height: 2em;
    font-weight: 600;
}

.kolom{
    background-color: #FBF9ED;
    background-attachment: fixed;
    padding-left: 4em;
    padding-top: 1.5em;
    border-left: 1px solid #707070;
    
}

.satu{
    padding-top: 4em;
}

.dua{
    padding-top: 3em;
}

.tiga{
    padding-top: 3em;
}

.logo1{
    position: absolute;
    top: 8px;
    left: 16px;
}

.logo2{
    position: absolute;
    bottom: 8px;
    left: 125px;
}

.logo3{
    position: absolute;
    top: -2.3em;
    right: 16px;
}

.child{
    background-color: #DFEEEE;
    padding: 2.6em;
    width: 18%;
    position: absolute;
    top: 170px;
    right: 120px;
    padding-bottom: 4em;
    border: 1px solid #707070 ;
    
}

.competencies, .hobby{
    font-family: Glacial Indifference;
    color: #707070;
    font-weight: 600;
    line-height: 3em;
    padding-left: 3em;
}

.coding, .hobby2{
    font-family: amiko;
    font-size: 13px;
    padding-left: 4.9em;
    color: #707070;
}


.group{
    padding-top: 0.8em;
}